$fg: #74d425;
$bg: #07020d;
$fg-bright: #e8e9eb;
$highlight: #623cea;
$altlight: #ff6b6b;
$gr-dark: #559C1A;
$gr: #57B139;
$gr-light: #9FD98C;
$button-hover: #546D64;
$nav: #0d0418;
$nav-border: #1b0729;
