@use 'colors';

.container {
    margin-top: 100px;
}

.main {
    padding-left: 25%;
    padding-right: 25%;
}

.title {
    width: 100%;
    text-align: center;
}

.text {
    width: 100%;
    text-align: center;
}