.container {
    margin-top: 100px;
}

.notFound {
    display: flex;
    justify-content: center;
}

.main {
    padding-left: 25%;
    padding-right: 25%;
}

.h1 {
    color: white;
    text-align: center;
}

.p {
    color: orange;
}
