.container {
  padding: 0.2rem;
}
.main {
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
}
.title,
.welcome {
  color: white;
  margin: 0;
  line-height: 1.3;
  font-size: 2em;
  text-align: center;
  animation: 1s slideInFromLeft;
}
@keyframes slideInFromLeft {
  0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
    }
}
@keyframes slideInFromRight {
  0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
    }
}
@keyframes fadeIn {
  0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}
.title {
  color: #6ac421;
}
.divider {
  margin-top: 10px;
  height: 1vh;
  width: 30%;
  background-color: white;
  position: relative;
  border-radius: 10px;
  animation: 1s fadeIn;
}
.subtitle {
  padding-top: 1%;
  font-size: 1.5rem;
  color: white;
  animation: 1s slideInFromRight;
}
