.container {
    padding: 0.2rem;
}
.main {
    min-height: 100vh;
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
}
.title,
.welcome {
    color: white;
    margin: 0;
    line-height: 1.3;
    font-size: 2em;
    text-align: center;
    animation: 1s slideInFromLeft;
}
@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
      }
      100% {
        transform: translateX(0);
      }
}
.title {
    color: #6ac421;
    transition: 0.3s;
}
.divider {
    margin-top: 10px;
    height: 1vh;
    width: 30%;
    background-color: white;
    position: relative;
    border-radius: 10px;
}
.subtitle {
    padding-top: 1%;
    font-size: 1.5rem
}