.container {
    padding: 0.2rem;
}
.main {
    min-height: 100vh;
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: left;
 }

.welcome {
    margin: 0;
    line-height: 1.3;
    font-size: 2em;
    text-align: center;
}
.welcome em:hover,
.welcome em:focus,
.welcome em:active {
  text-decoration: underline;
}
.welcome em:hover {
    color: #74d425;
}
