@use 'colors';

.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: colors.$nav;
}

.list {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
}

.icon {
    margin-left: 16px;
    margin-right: 16px;
}

.icon a {
    width: 100%;
    height: 100%;
}

.route {
    margin-left: 10px;
    margin-right: 10px;
    width: 160px;
    border-style: solid;
    border-color: colors.$nav-border;
}

.route a {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    transition: background-color 500ms ease-in-out;
}

.route a:hover {
    transition-property: all;
    background-color: colors.$gr-dark;
    transition-duration: 500ms;
}

